#about-banner {
  background-image: url("../img/services/parallax-bg19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 550px;
  position: relative;
  .title-about {
    position: absolute;
    top: 25%;
    z-index: 10;
    h1 {
      color: rgb(255, 242, 242);
      font-size: 60px;
      margin: 30px 0;
    }
    p {
      color: rgb(255, 242, 242);
      font-size: 20px;
    }
  }
  .overlay-contact {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}
#wemake-about {
  clear: both;
  margin: 100px 0;
  .wemake {
    padding: 60px 40px 80px 0;
    h6 {
      font-weight: 500;
      color: #151515;
      line-height: 1.2;
      font-size: 1.2rem;
    }
    h2 {
      font-weight: 600;
      color: #151515;
      line-height: 1.2;
      font-size: 36px;
    }
    p {
      font-size: 1.1rem;
      color: #151515;
    }
  }
  .img-wemake {
    position: relative;
    padding-left: 30px;
    img {
      width: 100%;
      //   position: absolute;
      //   right: 0;
    }
  }
}
#services-about {
  margin: 100px 0;
  img {
    width: 500%;
    height: 50%;
  }
  h6 {
    font-weight: 400;
    color: #151515;
    font-size: 26px;
  }
  p {
    font-size: 1.1rem;
    color: #151515;
  }
}
#about-auto-number {
  background-image: url("../img/about/fun-fact-bg.0246ddce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 50px 0;
  width: 100%;
  position: relative;
  &::before {
    background-color: rgba(8, 11, 26, 0.92);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  color: #fff;
  h6 {
    font-size: 1.6rem;
    margin: 20px 0;
  }
  h2 {
    font-size: 1.6rem;
  }
}
#creative-about {
  .creative-about-left {
    background-color: #080b1a;
    color: #fff;
    padding: 100px 50px;

    h6 {
      font-weight: 400;
      line-height: 1.2;
      font-size: 1.2rem;
    }
    h2 {
      font-weight: 600;
      margin: 20px 0;
      line-height: 1.2;
      font-size: 36px;
    }
    p {
      font-size: 1rem;
      color: #fff;
      text-align: justify;
      font-weight: 300;
    }
  }
  .creative-about-right {
    background-image: url("../img/about/team-bg-2.ec7a058d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px 0 80px;
    position: relative;
    .overlay-about-right {
      background-color: rgba(172, 170, 170, 0.418);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .position-parent {
      .position-title {
        h5 {
          font-weight: 600;
          color: #151515;
          font-size: 20px;
        }
        span {
          font-size: 1.1rem;
          color: #151515;
        }
      }
    }
  }
}
#image-about-bot {
  background-color: #f7f7f7;
  padding-top: 100px;
  img {
    width: 100%;
  }
  h6 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ff214f;
    letter-spacing: 1px;
  }
  h2 {
    color: #232323;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  .creative-about-right {
    .position-parent {
      margin-bottom: 100px;
    }
  }
}
